docs/n8n-subscribe-workflow.json
{
  "name": "Portfolio: suscripción de correos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "portfolio-subscribe",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "9d2f1a3c-1111-4a7b-9c2e-portfolio0001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "portfolio-subscribe"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "lang",
              "value": "={{ $json.body.lang }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "subscribedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9d2f1a3c-2222-4a7b-9c2e-portfolio0002",
      "name": "Normalizar datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"ok\": true }",
        "options": {}
      },
      "id": "9d2f1a3c-3333-4a7b-9c2e-portfolio0003",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [440, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Normalizar datos", "type": "main", "index": 0 }]]
    },
    "Normalizar datos": {
      "main": [[{ "node": "Responder", "type": "main", "index": 0 }]]
    }
  },
  "settings": {},
  "pinData": {}
}
